<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content lang-content">
        <div class="modal-header">
            <div class="pr-3">
                <h5 class="modal-title mb-1">Language</h5>
                <p class="text-muted">Select a range of your language(s) to listen music.</p>
            </div>
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            <ul class="language-list">
                <li class="language-item">
                    <input type="checkbox" id="l1" checked>
                    <label for="l1">English</label>
                </li>
            </ul>
        </div>
        <div class="modal-footer text-center d-block pb-4">
            <button type="button" class="btn btn-primary btn-pill" (click)="close()">Select</button>
        </div>
    </div>
</div>